<table>
  <tbody>
    <tr>
      <th>Fraternity Password</th>
      <td><input type="text" id="settings_fraternity_password" 
                     value="<%= settings['fraternity_password'] %>" 
             name="settings[fraternity_password]" >
    </tr>
  </tbody>
</table>