/***** Tables *****/
table.budget {
  border: none;
  border-collapse: collapse;
  width: 100%;
}

table.budget th, table.budget td {
  text-align: left;
  padding: 2px 5px 2px 5px;
  min-width: 56px;
}
table.budget th:first-child, table.budget td:first-child {
  min-width: 160px;
}


table.budget th {background: none; white-space:nowrap; border-top: 1px solid #e6eaef; }
table.budget tr {
  border-bottom: 1px solid #e6eaef !important;
}