<div class="contextual">

<%= link_to 'New Budget', { :controller => 'issues', :action => 'new', :project_id => @project.identifier, :tracker_id => 19 } %> |
<%= link_to 'New Deposit', { :controller => 'issues', :action => 'new', :project_id => @project.identifier, :tracker_id => 26 } %> |
<%= link_to 'New Expense', { :controller => 'issues', :action => 'new', :project_id => @project.identifier, :tracker_id => 22 } %>

</div>

