<div class="contextual">

<%= link_to 'New Budget', :controller => 'issues', :action => 'new', :project_id => @project.identifier, :tracker_id => 19, :class => 'icon' %> |
<%= link_to 'New Deposit', :controller => 'issues', :action => 'new', :project_id => @project.identifier, :tracker_id => 26, :class => 'icon' %> |
<%= link_to 'New Expense', :controller => 'issues', :action => 'new', :project_id => @project.identifier, :tracker_id => 22, :class => 'icon' %>

</div>

