<h2>Deposits</h2>

<table class="list">
  <thead><tr>
  <th>Deposit Date</th>
  <th>Deposit Amount</th>
  </tr></thead>
  <tbody>
  <% for d in @deposits -%>
    <tr class="<%= cycle("odd", "even") %>">
        <td>
          <%= link_to_project_deposit_issues_on_date(@project, d[0]) %>
        </td>
        <td>
          <%= number_to_currency(d[1]) %>
        </td>
    </tr>
  <% end -%>
  </tbody>
</table>